.bg-check {
    background-color: aqua;
}

.clipped-div {
    clip-path: path("M376 0C387.046 0 396 8.95448 396 20V24.251C396 35.2967 404.954 44.251 416 44.251H525C536.046 44.251 545 53.2055 545 64.251V607C545 618.046 536.046 627 525 627H20C8.95431 627 0 618.046 0 607V514C0 502.954 8.9543 494 20 494H101C112.046 494 121 485.046 121 474V386.008C121 374.962 112.046 366.008 101 366.008H20C8.95431 366.008 0 357.054 0 346.008V20C0.00019197 8.95447 8.95442 0 20 0H376Z");

    background: rgb(242, 242, 242);
    /* or any content/image */

}